<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>出行前准备</key>
	<array>
		<string>保险单扫描件</string>
		<string>驾照/身份证</string>
		<string>个人证件照电子版</string>
		<string>购买旅游保险</string>
		<string>购买机票</string>
		<string>预订酒店</string>
		<string>重要文件备份(扫描件/拍照)</string>
		<string>手机安装旅行相关APP</string>
	</array>
	<key>出行前一天</key>
	<array>
		<string>拉杆箱</string>
		<string>双肩背包(配行李牌)</string>
		<string>贴身小包/钱包</string>
		<string>衣物</string>
		<string>洗护用品</string>
		<string>电子设备</string>
		<string>摄影设备</string>
		<string>其它用品</string>
		<string>泳装</string>
		<string>内衣裤</string>
		<string>袜子</string>
		<string>保暖帽</string>
		<string>遮阳帽</string>
		<string>魔术头巾</string>
		<string>拖鞋</string>
		<string>休闲鞋</string>
		<string>外套</string>
		<string>毛衣</string>
		<string>T恤</string>
		<string>短裤</string>
		<string>速干裤</string>
		<string>牛子裤/裙子</string>
		<string>毛巾</string>
		<string>牙膏牙刷</string>
		<string>沐浴液</string>
		<string>洗发水</string>
		<string>洗面奶</string>
		<string>梳子</string>
		<string>防晒霜</string>
		<string>面膜</string>
		<string>爽肤水</string>
		<string>乳液/面霜</string>
		<string>隐形眼镜护理液和眼镜盒</string>
		<string>润唇膏</string>
		<string>防蚊驱虫水</string>
		<string>U盘内含重要文件备份/中文输入法</string>
		<string>GPS</string>
		<string>电池</string>
		<string>笔记本电脑/平板</string>
		<string>耳机</string>
		<string>MP3/MP4</string>
		<string>各类充电器</string>
		<string>手机</string>
		<string>相机/镜头</string>
		<string>读卡器/存储卡</string>
		<string>相机包</string>
		<string>三角假</string>
		<string>滤镜</string>
		<string>CameraKit</string>
		<string>望眼镜</string>
		<string>水杯/水壶</string>
		<string>正在预读的书籍</string>
		<string>小笔记本和笔</string>
		<string>干/湿纸巾/卫生巾</string>
		<string>雨伞/雨衣</string>
		<string>指甲刀</string>
		<string>充气枕/眼罩</string>
		<string>扑克牌</string>
		<string>小礼品</string>
		<string>避孕套</string>
		<string>小镜子</string>
		<string>紧急联系信息</string>
		<string>身份证</string>
		<string>设置工作电子邮件自动回复</string>
		<string>请假(孩子及其兴趣班)</string>
		<string>结算必要的账单(充电卡/水卡/煤气卡)</string>
		<string>告诉家人或朋友自己的行程</string>
		<string>装还个人常用药(创可贴)</string>
		<string>准备好现金和信用卡/银行卡</string>
		<string>装备随身携带文件</string>
		<string>打包行李</string>
	</array>
	<key>出行前一刻</key>
	<dict>
		<key>unchecked</key>
		<dict>
			<key>New item</key>
			<array>
				<string>关好门窗</string>
				<string>倒垃圾</string>
				<string>收好家里贵重物品</string>
				<string>拔掉家用电器插头 厨房不能拔</string>
				<string>手机设置目的地时区</string>
			</array>
		</dict>
		<key>checked</key>
		<dict>
			<key>New item</key>
			<array/>
		</dict>
		<key>ignore</key>
		<dict>
			<key>New item</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
